@import "colors";

.navbar {
  font-family: "Ubuntu" sans-serif;
  font-weight: 500;
  .container {
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--links {
    display: none;
  }

  &--logo {
    width: 80px;
    display: block;
  }

  &--hamburger {
    width: 1.8rem;
    height: 1.1rem;
  }
}

.section--header {
  background: url(../images/bg-pattern-intro.svg) no-repeat center 10%,
    linear-gradient(to bottom, $color-very-light-red 20%, $color-light-red 80%);
  background-position: 37% 37%;
  background-size: 350%;
  background-repeat: no-repeat;
  position: relative;
  border-bottom-left-radius: 100px;

  &__hero-text {
    color: white;
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 10rem;

    &--heading {
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &--subheading {
      font-size: 1.2rem;
      line-height: 1.2;
      margin-bottom: 3.4rem;
    }
  }
}

.section--intro {
  padding-top: 8rem;
  overflow: hidden;
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  &__heading--secondary {
    margin-bottom: 5rem;
  }

  &__left {
    margin-top: 4rem;
  }

  &__right {
    &--img-desktop {
      display: none;
    }

    &--img-mobile {
      transform: scale(1.27);
    }
  }
}

.section--infrastructure {
  background: url(../images/bg-pattern-circles.svg) 50% -15rem/37rem no-repeat,
    linear-gradient(
      to bottom,
      $color-very-dark-gray-blue,
      $color-very-dark-desaturated-blue
    );
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  color: $color-white;
  // position: relative;
  padding: 13rem 0 8rem;
  margin-top: 15rem;

  .container {
    position: relative;
  }

  &__left {
    position: absolute;
    top: -22rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  &__right {
    &--heading--secondary {
      color: white;
      font-size: 2.3rem;
      margin-bottom: 1.1em;
    }
    &--paragraph {
      color: $color-white;
    }
  }
}

.section--features {
  overflow: hidden;
  padding: 10rem 0 7rem;
  &__left {
    &--img--desktop {
      display: none;
    }

    &--img--mobile {
      transform: scale(1.5);
    }
  }

  &__right {
    margin-top: 5rem;

    &--paragraph {
      margin-bottom: 3rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.section--footer {
  background-color: $color-very-dark-black-blue;
  padding: 5rem 0;
  color: $color-grayish-blue;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  border-top-right-radius: 100px;
  .container {
    display: flex;
    flex-direction: column;
  }
  &__link {
    display: block;
    width: 6rem;
    margin: 0 auto 3rem;
  }

  &__ul {
    margin-bottom: 2rem;
    &:last-of-type {
      margin-bottom: 0;
    }

    &--li {
      margin-bottom: 0.7rem;
      :last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
