@import "colors";

.container {
  width: 90%;
  margin: 0 auto;
}

.btn--cta {
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  padding: 1rem;
  border-radius: 30px;
  border: 1px transparent solid;

  &__primary {
    background-color: $color-white;
    color: $color-light-red;
  }

  &__secondary {
    color: $color-white;
    border: 1px $color-white solid;
  }
}
