@import "colors";

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.hidden {
  display: none;
}

.opened-link {
  opacity: 0.7;
  &::after {
    transform: rotate(180deg);
    top: 0px !important;
  }
}

.dummy {
  height: 20px;
}

.sublinks-container {
  position: absolute;
  left: -25px;
}

.btn--cta {
  display: block;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  padding: 1em 1.5em;
  border-radius: 30px;
  border: 1px transparent solid;
  width: 46%;

  &__primary {
    background-color: $color-white;
    color: $color-light-red;
  }

  &__secondary {
    color: $color-white;
    border: 1px $color-white solid;
  }
}

.btn--flex {
  display: flex;
  justify-content: space-around;
}

.heading--secondary {
  font-size: 1.9rem;
}

.heading--tertiary {
  font-size: 1.9rem;
  margin: 2rem 0;
}

.paragraph--general {
  margin-top: 1em;
  font-size: 1.14rem;
  color: $color-very-grayish-blue;
}

.li--bold {
  font-weight: 400;
  margin-bottom: 1.5rem !important;
  color: white;
}

.attribution {
  background-color: $color-very-dark-black-blue;
  color: white;
}

.max-width-illustration {
  max-width: 25rem;
  margin: 0 auto;
}

.margin-container-7rem {
  margin-top: 7rem;
}
