@import "colors";

.container {
  width: 90%;
  margin: 0 auto;
}

.btn--cta {
  display: block;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  border: 1px transparent solid;
  width: 46%;

  &__primary {
    background-color: $color-white;
    color: $color-light-red;
  }

  &__secondary {
    color: $color-white;
    border: 1px $color-white solid;
  }
}

.btn--flex {
  display: flex;
  justify-content: space-around;
}

.heading--secondary {
  font-size: 1.9rem;
}

.heading--tertiary {
  font-size: 1.9rem;
  margin: 2rem 0;
}

.paragraph--general {
  margin-top: 1em;
  font-size: 1.15rem;
}
