@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/* Colors */
/*Primary*/
/* Neutral */
/* Gradient */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
}

h2,
h3 {
  color: #1f3f5b;
}

section {
  text-align: center;
}

/* Colors */
/*Primary*/
/* Neutral */
/* Gradient */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.hidden {
  display: none;
}

.opened-link {
  opacity: 0.7;
}

.opened-link::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 0px !important;
}

.dummy {
  height: 20px;
}

.sublinks-container {
  position: absolute;
  left: -25px;
}

.btn--cta {
  display: block;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  padding: 1em 1.5em;
  border-radius: 30px;
  border: 1px transparent solid;
  width: 46%;
}

.btn--cta__primary {
  background-color: white;
  color: #ff3d54;
}

.btn--cta__primary:hover {
  background-color: #ff7a85;
  color: white;
}

.btn--cta__secondary {
  color: white;
  border: 1px white solid;
}

.btn--cta__secondary:hover {
  background-color: white;
  color: #ff7a85;
}

.btn--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.heading--secondary {
  font-size: 1.9rem;
}

.heading--tertiary {
  font-size: 1.9rem;
  margin: 2rem 0;
}

.paragraph--general {
  margin-top: 1em;
  font-size: 1.14rem;
  color: #4b5862;
}

.li--bold {
  font-weight: 400;
  margin-bottom: 1.5rem !important;
  color: white;
}

.attribution {
  background-color: #25252d;
  color: white;
}

.max-width-illustration {
  max-width: 25rem;
  margin: 0 auto;
}

.margin-container-7rem {
  margin-top: 7rem;
}

/* Colors */
/*Primary*/
/* Neutral */
/* Gradient */
.navbar {
  font-family: "Ubuntu" sans-serif;
  font-weight: 500;
}

.navbar .container {
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
}

.navbar .mobile-menu {
  position: absolute;
  width: 90%;
  top: 6rem;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  color: #1f3f5b;
  padding: 1.5rem;
  z-index: 101;
}

.navbar .mobile-menu .btn--cta {
  margin: 0 auto;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to right, #ff8f70, #ff3d54);
}

.navbar .mobile-menu li {
  margin-bottom: 1rem;
}

.navbar .mobile-menu--links__main {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(200, 200, 203, 0.3);
}

.navbar .mobile-menu--links__main--link__a {
  position: relative;
}

.navbar .mobile-menu--links__main--link__a::after {
  position: absolute;
  right: -15px;
  top: -3px;
  content: url("../images/icon-arrow-dark.svg");
}

.navbar .mobile-menu--links__main--sublinks {
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: rgba(200, 200, 203, 0.3);
  padding: 1rem 0;
  margin: 1rem 0;
}

.navbar .mobile-menu--links__main--sublinks a {
  opacity: 0.7;
}

.navbar .mobile-menu--links__secondary {
  padding-top: 1.5rem;
}

.navbar--links {
  display: none;
}

.navbar--logo {
  width: 80px;
  display: block;
}

.navbar--hamburger {
  width: 1.8rem;
  height: 1.1rem;
  cursor: pointer;
}

.navbar #close-icon {
  height: 1.7rem;
  z-index: 101;
}

.section--header {
  background: url(../images/bg-pattern-intro.svg) no-repeat center 10%, -webkit-gradient(linear, left top, left bottom, color-stop(20%, #ff8f70), color-stop(80%, #ff3d54));
  background: url(../images/bg-pattern-intro.svg) no-repeat center 10%, linear-gradient(to bottom, #ff8f70 20%, #ff3d54 80%);
  background-position: 37% 37%;
  background-size: 350%;
  background-repeat: no-repeat;
  position: relative;
  border-bottom-left-radius: 100px;
}

.section--header__hero-text {
  color: white;
  text-align: center;
  margin-top: 3rem;
  padding-bottom: 10rem;
}

.section--header__hero-text--heading {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.section--header__hero-text--subheading {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 3.4rem;
}

.section--intro {
  padding-top: 8rem;
  overflow: hidden;
}

.section--intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.section--intro__heading--secondary {
  margin-bottom: 5rem;
}

.section--intro__left {
  margin-top: 4rem;
}

.section--intro__right--img-desktop {
  display: none;
}

.section--intro__right--img-mobile {
  -webkit-transform: scale(1.27);
          transform: scale(1.27);
}

.section--infrastructure {
  background: url(../images/bg-pattern-circles.svg) 50% -15rem/37rem no-repeat, -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background: url(../images/bg-pattern-circles.svg) 50% -15rem/37rem no-repeat, linear-gradient(to bottom, #2c2d3f, #3f4164);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  color: white;
  padding: 13rem 0 8rem;
  margin-top: 15rem;
}

.section--infrastructure .container {
  position: relative;
}

.section--infrastructure__left {
  position: absolute;
  top: -22rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.section--infrastructure__right--heading--secondary {
  color: white;
  font-size: 2.3rem;
  margin-bottom: 1.1em;
}

.section--infrastructure__right--paragraph {
  color: white;
}

.section--features {
  overflow: hidden;
  padding: 10rem 0 7rem;
}

.section--features__left--img--desktop {
  display: none;
}

.section--features__left--img--mobile {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.section--features__right {
  margin-top: 5rem;
}

.section--features__right--paragraph {
  margin-bottom: 3rem;
}

.section--features__right--paragraph:last-of-type {
  margin-bottom: 0;
}

.section--footer {
  background-color: #25252d;
  padding: 5rem 0;
  color: #c8c8cb;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  border-top-right-radius: 100px;
}

.section--footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section--footer__link {
  display: block;
  width: 6rem;
  margin: 0 auto 3rem;
}

.section--footer__ul {
  margin-bottom: 2rem;
}

.section--footer__ul:last-of-type {
  margin-bottom: 0;
}

.section--footer__ul--li {
  margin-bottom: 0.7rem;
}

.section--footer__ul--li:hover {
  text-decoration: underline;
}

.section--footer__ul--li:first-of-type:hover {
  text-decoration: none;
}

.section--footer__ul--li:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 375px) {
  .section--infrastructure__left {
    top: -24rem;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .btn--cta {
    width: auto;
    padding: 1em 1.8em;
  }
  .navbar--hamburger {
    display: none;
  }
  .navbar .backdrop {
    display: none;
  }
  .navbar .mobile-menu {
    display: none;
  }
  .navbar .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .navbar--links__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 4rem;
  }
  .navbar--links__main--item {
    position: relative;
  }
  .navbar--links__main--item:hover > a {
    font-weight: 900;
    -webkit-text-decoration: underline 2px;
            text-decoration: underline 2px;
  }
  .navbar--links__main--item:hover > a::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: 3px !important;
  }
  .navbar--links__main--item:hover > div > ul {
    display: block;
  }
  .navbar--links__main--item__sublinks {
    border-radius: 5px;
    padding: 2rem;
    padding-right: 4rem;
    background-color: white;
    color: black;
  }
  .navbar--links__main--item__sublinks--li {
    margin-bottom: 0.7rem;
  }
  .navbar--links__main--item__sublinks--li a:hover {
    font-weight: 700;
  }
  .navbar--links__main--item__link {
    margin-right: 3rem;
    position: relative;
  }
  .navbar--links__main--item__link::after {
    position: absolute;
    right: -15px;
    top: -2px;
    content: url("../images/icon-arrow-light.svg");
  }
  .navbar--links__secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar--links__secondary--item {
    margin-right: 1rem;
  }
  .navbar--links__secondary--item:last-of-type {
    margin-right: 0;
  }
  .section--header {
    background: url(../images/bg-pattern-intro.svg) no-repeat center 10%, -webkit-gradient(linear, left top, right top, color-stop(20%, #ff8f70), color-stop(60%, #ff3d54));
    background: url(../images/bg-pattern-intro.svg) no-repeat center 10%, linear-gradient(to right, #ff8f70 20%, #ff3d54 60%);
    background-position: 26% 53%;
    background-size: 235%;
  }
  .section--header__hero-text--heading {
    font-size: 4.5rem;
  }
  .section--header__hero-text--subheading {
    font-size: 1.5rem;
  }
  .section--header__hero-text .btn--flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section--header__hero-text .btn--flex .btn--cta__primary {
    margin-right: 1rem;
  }
  .heading--secondary {
    font-size: 3rem;
  }
  .heading--tertiary {
    font-size: 1.98rem;
  }
  .paragraph--general {
    font-size: 1.2rem;
  }
  .section--left {
    width: 50%;
  }
  .max-width-illustration {
    max-width: 53rem;
  }
  .section--intro {
    text-align: left;
    overflow: visible;
  }
  .section--intro__heading--secondary {
    text-align: center;
  }
  .section--intro .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  .section--intro__right {
    position: absolute;
    right: -28rem;
    top: -20%;
  }
  .section--intro__right--img-mobile {
    display: none;
  }
  .section--intro__right--img-desktop {
    display: block;
  }
  .section--infrastructure {
    padding: 6.5rem 0;
    text-align: left;
    background: url(../images/bg-pattern-circles.svg) -40% -26rem/60rem no-repeat, -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
    background: url(../images/bg-pattern-circles.svg) -40% -26rem/60rem no-repeat, linear-gradient(to bottom, #2c2d3f, #3f4164);
  }
  .section--infrastructure .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section--infrastructure__right {
    width: 50%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .section--infrastructure__right--heading--secondary {
    font-size: 2.65rem;
  }
  .section--infrastructure__left {
    top: -9rem;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .section--features {
    padding: 10rem 0 13rem;
  }
  .section--features__left {
    position: absolute;
    left: -27.5rem;
    top: -5rem;
  }
  .section--features__left--img--mobile {
    display: none;
  }
  .section--features__left--img--desktop {
    display: block;
  }
  .section--features__right {
    width: 50%;
    text-align: left;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .section--features .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .li--bold {
    margin-bottom: 2rem !important;
  }
  .section--footer {
    margin: 0;
    text-align: left;
  }
  .section--footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section--footer__link {
    margin: 0;
    margin-right: 10rem;
  }
  .section--footer__ul {
    margin: 0;
    margin-right: 15rem;
  }
  .section--footer__ul:last-of-type {
    margin: 0;
  }
}

@media (min-width: 1120px) {
  .section--intro__right {
    right: -23rem;
  }
  .section--features__left {
    left: -24.5rem;
  }
}
/*# sourceMappingURL=main.css.map */